<main>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande1.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande14.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande2.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande13.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande3.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande12.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande4.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande11.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande5.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande10.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande6.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande9.png" alt="">
    </div>
    <div>
        <img src="/modules/public/assets/images/MerveillesLocked/bande7.png" alt="">
        <img src="/modules/public/assets/images/MerveillesUnlocked/bande8.png" alt="">
    </div>
    
    <h1 class="MerveilleSelectionnee">Christ Redempteur</h1>
</main>