<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/modules/styles/homev2.css">
<script src="/modules/script/homev2.js"></script>
<main>
    <div class="overlay">
        <p>Marin est un jeune explorateur français, vivant en Bretagne à Brest.
            Il a 28 ans et parcourt le monde à la recherche d’objets perdus.
            Suite au décès de son père, il obtient en héritage une vieille carte du monde indiquant la position de 7
            objets mystérieux à récupérer. Il s'en va donc pour un long voyage périlleux en quête de ces curieuses reliques...
            Etes vous prêts à accompagner notre jeune aventurier ?
        </p>
            <button class="commencer" type="button">Commencer</button>
    </div>
    <img class="map" src="/modules/public/assets/images/worldHigh.svg.png" alt="carte du monde">
    <div class="vignettes">
        <div class="tajmahal">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande1.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande14.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="petra">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande2.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande13.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="colisee">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande3.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande12.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="chichenitza">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande4.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande11.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="christredempteur">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande5.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande10.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="macchupichu">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande6.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande9.png" class="unlocked" alt="">
            </a>
        </div>
        <div class="murailledechine">
            <a href="">
                <img src="/modules/public/assets/images/MerveillesLocked/bande7.png" class="locked" alt="">
                <img src="/modules/public/assets/images/MerveillesUnlocked/bande8.png" class="unlocked" alt="">
            </a>
        </div>
    </div>
    <div class="pied">
        <div class="barregauche"></div>
        <div class="texte">
            <h1 class="MerveilleSelectionnee italic">Christ Redempteur</h1>
        </div>
        <div class="barredroite"></div>
    </div>
</main>