<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/modules/styles/homev2.css">
<main>
    <img class="map" src="/modules/public/assets/images/worldHigh.svg.png" alt="carte du monde">
    <div class="vignettes">
        <div class="tajmahal">
            <img src="/modules/public/assets/images/MerveillesLocked/bande1.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande14.png" class="unlocked" alt="">
        </div>
        <div class="petra">
            <img src="/modules/public/assets/images/MerveillesLocked/bande2.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande13.png" class="unlocked" alt="">
        </div>
        <div class="colisee">
            <img src="/modules/public/assets/images/MerveillesLocked/bande3.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande12.png" class="unlocked" alt="">
        </div>
        <div class="chichenitza">
            <img src="/modules/public/assets/images/MerveillesLocked/bande4.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande11.png" class="unlocked" alt="">
        </div>
        <div class="christredempteur">
            <img src="/modules/public/assets/images/MerveillesLocked/bande5.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande10.png" class="unlocked" alt="">
        </div>
        <div class="macchupichu">
            <img src="/modules/public/assets/images/MerveillesLocked/bande6.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande9.png" class="unlocked" alt="">
        </div>
        <div class="murailledechine">
            <img src="/modules/public/assets/images/MerveillesLocked/bande7.png" class="locked" alt="">
            <img src="/modules/public/assets/images/MerveillesUnlocked/bande8.png" class="unlocked" alt="">
        </div>
    </div>

    <div class="texte">
        <h1 class="MerveilleSelectionnee italic">Christ Redempteur</h1>
    </div>
</main>