<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Monders</title>
    
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../styles/landing-page.css" type="text/css" media="screen">
    
</head>
<body class="background">
    <main>
        <div>
            <div class="title">
                <img src="../public/assets/images/logo monders 1.png" alt="Monders logo">
                <div class="titles">
                    <h2>Les sept merveilles</h2>
                    <h2 class="red shadow">du monde moderne</h2>
                </div>     
            </div>
            <div class="bouton">
                <a  href="homev2.html">
                    <span class="light">
                        Commencer l'expérience.
                    </span>
                    <img src="../public/assets/images/landing-page/fleche.svg" alt="">
                </a>
            </div>
            
        </div>
        <div class="earthdiv">

            <img class="circlelines" src="../public/assets/images/landing-page/circleslines.svg" alt="">
        </div>
    </main>
    <div class="desc light">
        <p>Monders est une web experience qui à pour but de vous présenter les 7 merveilles du monde actuel.<br>
        Vous pouvez vous connecter afin d'acceder à la totalité des merveilles.<br>
        Des quiz sont mis à disposition afin d'évaluer vos compétences.</p>
    </div>
   
</body>
</html>