<link rel="stylesheet" href="../styles/inscription.css">
<link rel="stylesheet" href="/style.css">
<main>

  <div class="container">
    <img src="/modules../public/assets/images/assets/images/logo monders 1.png" alt="">
    <div class="choix">
<div class="texte">
      <h1><a class="boutonchoixinsc light" href="url">Inscription</a></h1>
      <h1><a class="boutonchoixconn light" href="url">Connexion</a></h1>
    </div>
  
      <div class="lesbarres">
        <div class="barreorange"></div>
        <div class="barrebleue"></div>
      </div>

    </div>


    <div class="descriptif">
      <h2 class="light">INSCRIPTION</h2>
      <p>Vous pouvez vous inscrire afin de disposer de toutes les fonctionnalités du site</p>
    </div>
    <div class="formcont">
      <form action="/action_page.php">
        <label for="fname">Pseudonyme</label>
        <input type="text" id="fname" name="fname">
        <label for="email">Adresse Mail</label>
        <input type="email" id="email" name="email">
        <label for="lname">Mot De Passe</label>
        <input type="password" id="password" name="password">
        <input class="boutonsubmit" type="submit" value="S'inscrire">
      </form>
    </div>
    <p>Déja inscrit ? Connectez vous ici: <a href="https://www.w3schools.com/">Se connecter</a></p>
  </div>
</main>