<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/marin.css">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="marin" data-page="homev2">
        <div class="perso">
            <img src="../../public/images/Marin.png" alt="">
        </div>
        
        <div class="bulles">
            <div class="bulle-parole">
                <p class="texte-parole"></p>
            </div>

        </div>
    </div>

    <script src="/modules/script/dialogue.js"></script>
</body>
</html>