<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="../../style.css" type="text/css" media="screen">
<link rel="stylesheet" href="../styles/murailledechine.css" type="text/css" media="screen">
<body>
    <main class="background">
        <div class="bloc1">
            <h1 class="title big">Muraille de chine</h1>
            <img src="../../public/murailledechine/muraillegrande.png" alt="muraille de chine image" srcset="">
        </div>
        <div class="bloc2 bloc">
            <div class="bloc21">
                <h2>C'est quoi ?</h2>
                <p>     La Grande Muraille ou muraille de Chine (en chinois Chángchéng, « la longue muraille » ; en chinois traditionnel : 長城, en caractères simplifiés 长城 ) est la plus longue construction humaine au monde : elle parcourt environ 6 700 kilomètres, de la frontière entre la Chine et la Corée, jusqu'au désert de Gobi, à l'ouest du pays. </p>
            </div>
            <div class="imgbloc2">
                <img height="500px" src="../../public/murailledechine/chine.svg" alt="pays de chine" srcset="">
                <div class="tracebloc2">
                    <img width="150px" class="" src="../../public/murailledechine/trace.svg" alt="tracé de la muraille sur le pays">
                </div>
            </div>
        </div>
        <div class="bloc3">
            <p>La muraille a d'abord été construite avec de la terre, des pierres, du bois et des tuiles, puis plus tard avec des briques. Sa largeur est entre 5 et 7 mètres en moyenne et sa hauteur est entre 5 et 17 mètres. Elle possède des tours de guet et des fortifications sur toute sa longueur. Les déplacements des soldats se faisaient à l'aide de chevaux.</p>
            <img src="../../public/murailledechine/construction.png" alt="" srcset="">
        </div>
        <div class="bloc bloc4">
            <h3>Une des constructions les plus longues de l'histoire.</h3>
            <div>
                <span class="s1 red">III av J-C</span>
                <img src="../../public/murailledechine/fleche.svg" alt="">
                <span class="s2 red">XVII</span>
            </div>
            <p>21 siècles de constructions</p>
        </div>
        <div class="bloc">
            <span>memory a mettre</span>
        </div>
    </main>
    
</body>