<link rel="stylesheet" href="/modules/styles/profil.css">
<link rel="stylesheet" href="/style.css">
<html class="background">

<body>
    <div class="profil">
        <div class="titre">
            <h2 class="light">Salut <span class="title">utilisateur</span>, vous avez débloqué 
                x merveilles et fait x quiz</h2>
        </div>
        <div class="all-merveilles">
            <div class="merveille taj-mahal">
                <div class="img-merveille">
                    <img src="/public/assets/image/taj-mahal.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="merveille petra">
                <div class="img-merveille">
                    <img src="/public/assets/image/petra.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="merveille chichen">
                <div class="img-merveille">
                    <img src="/public/assets/image/chichen.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="merveille christ">
                <div class="img-merveille">
                    <img src="/public/assets/image/christ.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="merveille colisee">
                <div class="img-merveille">
                    <img src="/public/assets/image/colisee.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="merveille muraille">
                <div class="img-merveille">
                    <img src="/public/assets/image/muraille.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
                </div>
            <div class="merveille pichu">
                <div class="img-merveille">
                    <img src="/public/assets/image/pichu.png" alt="">
                </div>
                <div class="info-merveille">
                    <div class="pourcentage">
                        <span>x%</span>
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>x%</span>
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>