<link rel="stylesheet" href="/modules/styles/profil.css">
<link rel="stylesheet" href="/style.css">
<html class="background">
<div class="profil">
    <div class="titre">
        <h2 class="light">Salut <span class="bold">utilisateur</span>, vous avez débloqué <span class="bold">x</span> merveilles et fait <span class="bold">x</span> quiz</h2>
    </div>
    <div class="all-merveilles">
        <div class="merveille">
            <div class="img-merveille">
                <img src="" alt="">
            </div>
            <div>
                <div class="pourcentage">
                    <span>x%</span>
                    <span>PROGRESSION</span>
                    <button><img src="" alt=""></button>
                </div>
                <div class="quiz">
                    <span>x%</span>
                    <span>QUIZ</span>
                    <button><img src="" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
