<div class="profil">

    <div class="titre">
        <h2>Salut "utilisateur", vous avez débloqué x merveilles et fait x quiz</h2>
    </div>
    <div class="all-merveilles">
        <div class="merveille">
            <div class="img-merveille">
                <img src="" alt="">
            </div>
            <div class="info1-merveille">
                <div class="pourcentage">
                    <span>x%</span>
                    <span>x%</span>
                </div>
                <div class="info2-merveille">
                    <div class="progression">
                        <span>PROGRESSION</span>
                        <button><img src="" alt=""></button>
                    </div>
                    <div class="quiz">
                        <span>QUIZ</span>
                        <button><img src="" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>