
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/simon.css">
<body>
    <h3>Mini-jeu</h3>
    <h3>Niveau <span class="indexquestion">1</span> sur <span>3</span></h3>

    <div class="simon">
        <div class="simongreen"></div>
        <div class="simonred"></div>
        <div class="simonyellow"></div>
        <div class="simonblue"></div>
    </div>
    <div class="startsimon">Commencer</div>
    <script src="../script/simon.js"></script>
</body>
    

