
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/simon.css">
<body>
    <div class="simon">
        <h3>Mini-jeu</h3>
    <h3>Niveau <span class="indexquestion">1</span> sur <span>3</span></h3>
    <p class="corrector"></p>
    <div class="simoncentre">
        <div class="simongreen"></div>
        <div class="simonred"></div>
        <div class="simonyellow"></div>
        <div class="simonblue"></div>
    </div>
    <div class="startsimon">Commencer</div>
    <span class="help">Explique moi marin ?</span>
    <button class="controllermarin" name="controller">
    <script src="../script/simon.js"></script>
    </div>
    
</body>
    

