<link rel="stylesheet" href="../styles/succes.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="../script/succes.js"></script>


<body>
    <div id="1" class="draggable" data-name="1">
        <p>VILLE N1</p>
    </div>
    <div class="draggable" data-name="2">
        <p>VILLE N2</p>
    </div>
    <div class="draggable" data-name="3">
        <p>VILLE N3</p>
    </div>
    <div class="draggable" data-name="4">
        <p>VILLE N4</p>
    </div>

    <div class="droppable">
        <p>Drop here</p>
    </div>
</body>