<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Monders</title>

    <link rel="stylesheet" href="../../style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../styles/tajMahal.css" type="text/css" media="screen">
</head>

<body>
    <header>

    </header>
    <main class="background">
        <div class="bloc1">
            <div class="more">
                <span>more</span>
            </div>
            <div class="">
                <h1 class="title big">Taj<br>Mahal</h1>

            </div>
            <div class="progress">
                <img src="/public/tajMahal/Line_1.svg" alt="">
                <span>89%</span>
            </div>
        </div>
        <div class="bloc2">
            <div>
                <h2 class="yellow title gros">
                    La legende du taj mahal
                </h2>
                <img src="/public/tajMahal/archive5.png" alt="">
            </div>
            <p class="txt bloc22">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan ornare id ornare amet. Pellentesque
                egestas congue scelerisque tellus cursus pretium. Elit blandit varius in dapibus mauris ac sed. Etiam a
                orci erat tincidunt. Rhoncus faucibus sit vitae, proin lorem. Urna feugiat lacus blandit quis tincidunt.
                Sed nunc lacus, felis neque. Ultricies pharetra, feugiat dictum semper eu commodo tempus. Commodo sit
                scelerisque tincidunt cras sed ac, sit luctus in. Ultricies venenatis malesuada sed massa.

                Tristique egestas amet, non massa, est, est viverra. Fames quis sagittis, amet, tellus lectus
                suspendisse. Velit condimentum tortor a venenatis, eget sit porttitor vitae. Dignissim hac massa
                hendrerit et aenean vitae odio aliquam. Ornare viverra felis lectus odio in ultricies nulla dictum
                placerat. Etiam eget adipiscing eu dignissim praesent ac. Mi viverra aenean tincidunt sed. Mollis ut
                cursus amet justo diam, risus ornare malesuada. Quam luctus cras arcu aliquet cursus. Et ultrices purus
                leo mauris integer quis sit amet tempor. Nullam ut integer eu, odio leo pellentesque. Scelerisque
                hendrerit magna aenean consequat habitant lacus, orci viverra.</p>
        </div>
    </main>


</body>

</html>