<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Monders</title>

    <link rel="stylesheet" href="../../style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../styles/tajMahal.css" type="text/css" media="screen">
</head>

<body>
    <header>

    </header>
    <main class="background">
        <div class="bloc1 bloc">
            <div class="more">
                <span>more</span>
            </div>
            <div class="">
                <h1 class="title big">Taj<br>Mahal</h1>

            </div>
            <div class="progress">
                <img src="/public/tajMahal/Line_1.svg" alt="">
                <span>89%</span>
            </div>
        </div>
        <div class="bloc2 bloc">
            <div>
                <h2 class="yellow title gros">
                    La legende du taj mahal
                </h2>
                <img src="/public/tajMahal/archive5.png" alt="">
                <img src="/public/tajMahal/construction6.png" alt="">
            </div>
            <div class=" bloc22">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan ornare id ornare amet.
                    Pellentesque
                    egestas congue scelerisque tellus cursus pretium. Elit blandit varius in dapibus mauris ac sed.
                    Etiam a
                    orci erat tincidunt. Rhoncus faucibus sit vitae, proin lorem. Urna feugiat lacus blandit quis
                    tincidunt.
                    Sed nunc lacus, felis neque. Ultricies pharetra, feugiat dictum semper eu commodo tempus. Commodo
                    sit
                    scelerisque tincidunt cras sed ac, sit luctus in. Ultricies venenatis malesuada sed massa.
                </p>
                <p>
                    Tristique egestas amet, non massa, est, est viverra. Fames quis sagittis, amet, tellus lectus
                    suspendisse. Velit condimentum tortor a venenatis, eget sit porttitor vitae. Dignissim hac massa
                    hendrerit et aenean vitae odio aliquam. Ornare viverra felis lectus odio in ultricies nulla dictum
                    placerat. Etiam eget adipiscing eu dignissim praesent ac. Mi viverra aenean tincidunt sed. Mollis ut
                    cursus amet justo diam, risus ornare malesuada. Quam luctus cras arcu aliquet cursus. Et ultrices
                    purus
                    leo mauris integer quis sit amet tempor. Nullam ut integer eu, odio leo pellentesque. Scelerisque
                    hendrerit magna aenean consequat habitant lacus, orci viverra.
                </p>
            </div>
        </div>
        <div class="bloc3 bloc">
            <div class="bloc31">
                <div>
                    <h3 class="yellow h3">La construction du Taj Mahal, représentation symbolique de l'amour.</h3>
                    <img class="trait" src="/public/tajMahal/Line_2.svg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit elementum, elit maecenas
                        vehicula
                        aliquet ultrices. Tellus malesuada tempor sit urna, non. Aenean aenean velit venenatis vitae
                        ipsum id.
                        Commodo bibendum feugiat quis tincidunt faucibus integer. Diam, volutpat at porttitor placerat
                        id vel
                        accumsan. Nibh enim nisl adipiscing elit. Adipiscing aliquam sit lacinia aliquet.</p>
                </div>
                <img src="/public/tajMahal/amour1.jpg" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit elementum, elit maecenas vehicula
                aliquet ultrices. Tellus malesuada tempor sit urna, non. Aenean aenean velit venenatis vitae ipsum id.
                Commodo bibendum feugiat quis tincidunt faucibus integer. Diam, volutpat at porttitor placerat id vel
                accumsan. Nibh enim nisl adipiscing elit. Adipiscing aliquam sit lacinia aliquet.</p>
        </div>
        <div class="bloc4 bloc">
            <h2 class="red title gros">CONSTRUCTION -</h2>
            <div class="bloc41">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit elementum, elit maecenas
                        vehicula
                        aliquet ultrices. Tellus malesuada tempor sit urna, non. Aenean aenean velit venenatis vitae
                        ipsum id.
                        Commodo bibendum feugiat quis tincidunt faucibus integer. Diam, volutpat at porttitor placerat
                        id vel
                        accumsan. Nibh enim nisl adipiscing elit. Adipiscing aliquam sit lacinia aliquet.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit elementum, elit maecenas
                        vehicula
                        aliquet ultrices. Tellus malesuada tempor sit urna, non. Aenean aenean velit venenatis vitae
                        ipsum id.
                        Commodo bibendum feugiat quis tincidunt faucibus integer. Diam, volutpat at porttitor placerat
                        id vel
                        accumsan. Nibh enim nisl adipiscing elit. Adipiscing aliquam sit lacinia aliquet.</p>
                </div>
                <div class="bloc411">
                    <img class="imgconstruction5" src="/public/tajMahal/construction5.png" alt="">
                    <img src="/public/tajMahal/construction5.png" alt="">
                </div>
            </div>
        </div>
        <div class="bloc5 bloc">
            <img src="/public/tajMahal/ustad1.jpg" alt="">
            <div class="title purple gros">
                <h2>Ustad</h2>
                <h2>Ahmad</h2>
                <h2>Lahauri</h2>
            </div>
            <span class="purple">architecte</span>
        </div>
        <div class="bloc6 bloc">
            <h2 class="title gros">XVII</h2>
            <p>Ustad Ahmad Lahauri est né en 1580 et est mort en 1649.
                C'est un architecte d'origine perse né à Lahore, issu d'une famille du Badakhanchan.</p>
        </div>
        <div class="bloc7 bloc">
            <div>
                <p>Il est connu pour avoir été l'architecte principal du célèbre Taj Mahal d'Âgrâ, en inde.</p>
                <p>Il a supervisé les travaux de ce monument en dirigeant une équipe d'architectes et des millers
                    d'ouvries.
                    Il pourrait être également l'auteur du Fort Rouge de Delhi, si l'on en croit le témoignage de son
                    fils, le poète Luff Allah Muhandise.
                </p>
            </div>
            <img src="/public/tajMahal/ustad3.webp" alt="">

        </div>
        <div class="bloc8 bloc">
            <h2 class="title gros purple">Histoire</h2>
            <div class="bloc81">
                <img src="/public/tajMahal/facade1.jpg" alt="">
                <div>
                    <p>Le Taj Mahal tel que nous le connaissons aujourd'hui est physiquement le même qu'il était
                        lorsqu'il a été fondé. En effet, la bâtisse n'a subi aucun dégât majeur au fil de son hisoire,
                        même s'il a souvent été la cible des guerres de religions. Seuls les Anglais, au temps de la
                        colonisation au début des années 1900, réalisèrent la restauration du Taj Mahal et créèrent de
                        magnifiques jardins. Parfaitement protégé, le Taj Mahal est une des merveilles du monde
                        musulman, avec des caractéristiques architecturales exceptionnelles.</p>

                    <p class="purple">Symbole de l'Inde, le Taj Mahal acuueille chaque année 4 millions de visiteurs. Et pour cause: ce
                        site est unique. Si le mausolée en marbre blanc est l'élément le plus connu du Taj Mahal, il ne
                        faut pas réduire le Taj Mahal à cette seule partie. Ainsi, de nombreux monuments, jardins, plans
                        d'eau et fontaines viennent compléter le tout, dans une symétrie parfaitement organisée.</p>
                </div>
            </div>
        </div>
    </main>


</body>

</html>