.calcul {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.calcul>h3 {
    font-size: 3rem;
    font-style: italic;
}

.centrecalcul p {
    padding: 0;
    margin: 0;
}



.centrecalcul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    font-size: 4rem;
    font-size: 600;
}

.inputromain {
    width:100px;
    border-radius: 8px;
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.centrecalcul>input {
    font-size: 16rem;
    height:50%;
    width: 579px;
}