html {
    background-color: var(--background);
    color: white;
    /* overflow: hidden; */

}

main{
    

}
.map {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

body {
    margin: 0;

}

.pied {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
    align-items: center;


}

a{
    cursor: pointer;
}

img{
    transition: all 0.7s ease;
}

img:hover{
    box-shadow: 10px 5px 15px black;
    transform: scale(1.5);
}

.barregauche{
    height: 5px;
    background-color: aliceblue;
    width: 30%;
    border-radius: 5px;
}

.barredroite{
    height: 5px;
    background-color: aliceblue;
    width: 30%;
    border-radius: 5px;
}



/* MERVEILLES */

.unlocked {
    display: none;
}

.tajmahal {
    position: absolute;
    top: 48vh;
    left: 68vw;
}

.petra {
    position: absolute;
    top: 48vh;
    left: 55vw;
}

.colisee {
    position: absolute;
    top: 35vh;
    left: 46vw;
}

.chichenitza{
    position: absolute;
    top: 47%;
    left: 12%;
}

.christredempteur{
    position: absolute;
    top: 70%;
    left: 30%;
}

.macchupichu{
    position: absolute;
    top: 67%;
    left: 17%;
}
.murailledechine{
    position: absolute;
    top: 38%;
    left: 78%;
}

/* OVERLAY */

.overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 2rem;
    transition: all 0.7s ease;
    overflow: hidden;
}

.overlay p{
    width: 40%;
    text-align: justify;
}

.commencer{
    border: 2px solid #F4AC76;
    border-radius: 18px;
    background: linear-gradient(90deg, rgba(58,73,247,1) 0%, rgba(166,74,151,1) 39%, rgba(233,86,94,1) 70%, rgba(244,173,119,1) 100%);
    color: white;
    height: 4vh;
    width: 8vw;
}
.disapear{
    /* display:none; */
    transition: all 1.5s ease;
    transform:translateY(-200%);
    overflow: hidden;
}