
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

body {
    margin: 0;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    height: 20vh;
}

.title {
    font-size: 1.5rem;
}

.bouton {
    text-decoration : none;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 185px;

}

.desc>p {
    text-align: center;
}

.earthdiv {
    display: flex;
    justify-content: center;
}

.circlelines {
    width: 80%;
}
