body {
    margin: 0;
    max-width: 100vw;
}

.big {
    font-size: 6rem;
    letter-spacing: 0.5rem;
    opacity: 0.8;
    padding-left: 10%;
    position: absolute;
}

.bloc {
    padding-right: 2vw;
    padding-left: 2vw;
}


.bloc1 {
    position: relative;
}

.bloc1>img {
    width:100%;
}

.bloc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}


.bloc2 h2 {
    font-size: 3rem;
}

.bloc2 p {
    font-size: 1.75rem;
}

.bloc21 {
    width:40%;
}

.bloc21>h2 {
    color: orange;
    font-size: 4rem;
}

.imgbloc2 {
    position: relative;
    margin-top: 10%;
}

.tracebloc2 {
    position: absolute;
    top: 165px;
    right:17%;
}

.bloc3 {
    position:relative
}

.bloc3 p {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 80%;
    font-size: 1.75rem;
}

.bloc3 img {
    width:100%;
}

.bloc4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc4>h3 {
    color: orange;
    font-weight: 500;
    font-size: 2rem;
}

.bloc4 .s1,.bloc4 .s2 {
    font-size: 5rem;
}

.bloc4 p {
    font-size: 1.25rem;
}

