.profil {
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
}


body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    overflow-x:hidden;
    margin:0;
    padding:0;

}

h2 {
    font-size: 4rem;
    width: 80%;
}

.titre {
    display: flex;
    justify-content: center;
    text-align: center;
    

}
.all-merveilles{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5vw;
    margin:1vw;
}
.profil:before {
    content: "";
    background: url(../../../public/assets/images/assets/image/brush3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom:55%;
    right:-10vw;
    width: 800px;
    height: 800px;
    z-index: -1;
    transform: rotate(190deg);
    object-fit: contain;
    
}

.merveille{
    position:relative;
    overflow: hidden;

}
.img-merveille{
    display: flex;
    justify-content: center;
    height:100%;

    
}
.img-merveille img{
    height:100%;
    width: 100%;
    border-radius: 20px;
}
.img-merveille:after{
    content:"";
    background-color: red;
    opacity: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



.info-merveille{
    position:absolute;
    display: flex;
    flex-direction:row ;
    bottom: -200px;
    left:25%;
    transition: cubic-bezier(.68,-0.55,.27,1.55)  1s;
    
}

.merveille:hover .info-merveille{
    bottom: 25%;
    transition: ease 1s;
}

.pourcentage{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quiz{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.quiz>div span:nth-of-type(1){
    position:absolute;
    bottom: 50%;
    left: 38%;

}

.pourcentage>div span:nth-of-type(1){
    position:absolute;
    bottom: 50%;
    left: 38%;

}