html{
    background-color: var(--background);
    color: white;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intitule{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.descriptif{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    z-index: -1;
}

.question{
    font-size: 40px;
    margin-top: 0;
    text-align: center;
}

span{
    color:var(--red);
    font-weight: bold;
    font-size: 1.5rem;
}

h1{
    letter-spacing: 8px;
    font-size: 4rem;
    margin: 0;
}

h2{
    margin: 0;
}

.choix{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 40px;
}

.boutonreponse{
    min-width: 20vw;
    height: 7vh;
    border: none;
    background-color: var(--yellow);
    color: white;
    position: relative;
    background-image: url(../public/assets/images/Whangaehu.png);
    background-position: top;
    cursor: pointer;
    transition: all 0.5s;
    
}

.aucoin{
position: absolute;
margin-right: 2vw;
top: -10px;
color: var(--purple);
}

.barTimer{
    position: absolute;
    width: 0%;
    height: 1vh;
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(230,68,86,1) 15%);
    bottom: 0;
    left: 0;
    
}

.barani{
  animation: widthtimer 20s linear;
}

@keyframes widthtimer {
  0% {
    width:0%;
  }
  100% {
    width:100%;
  }
}

/* ANIMATIONS */

.text-focus-in {
	animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  .vibrate-2 {
	animation: vibrate-2 4s ease-in-out infinite both;
}


 @keyframes vibrate-2 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(2px, -2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    60% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

  .jello-horizontal {
	animation: jello-horizontal 0.9s both;
}
/* 
 button:hover{
    animation: jello-horizontal 0.9s both;
} 
   */

   button:hover{
       transform: scale(1.1);
   }

 @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
/* modal */

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.start {
    
  bottom: 100;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(196, 196, 196, 1) 100%);
  border: none;
  color: red;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  