.simon {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.simon>h3 {
    font-size: 3rem;
    font-style: italic;
}


.startsimon {
    background-color: orange;
    padding: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 8px;
}

.simoncentre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    width: 300px;
}

.simonred {
    background-color: red;
    opacity: 0.3;
}

.simongreen {
    background-color: green;
    opacity: 0.3;
}

.simonyellow {
    background-color: yellow;
    opacity: 0.3;
}

.simonblue {
    background-color: blue;
    opacity: 0.3;
}

.simoncentre .on {
    opacity: 1;
}

.simoncentre p {
    font-size: 10rem;
}

.corrector {
    font-size: 1.5rem;
    color: red;
}