:root {
    --background : #202124;
    --red : #E64456;
    --blue : #3E4AF6;
    --purple : #451D73;
    --yellow : #F48E6B;
}

@font-face {
    font-family: "Brown Sunflower";
    src:  url("../public/fonts/BROWN_SUNFLOWER.ttf") format("truetype");
}

@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("../public/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

html {
    font-family : "NeueMontreal", arial;
    font-weight: normal;
    font-style: normal;
}

.background {
    background-color : var(--background);
    color : white;
}

.red {
    color: var(--red);
}
.blue {
    color: var(--blue);
}
.purple {
    color: var(--purple);
}
.yellow {
    color: var(--yellow);
}

.title {
    font-family: "Brown Sunflower", arial;
}

.light {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media (min-width: 576px) { 
    
 }

@media (min-width: 768px) {  }


@media (min-width: 993px) {  }