.draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    background: #7fffd4;
}

.droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    margin: 10px;
    background-color: blue !important;
}
